#ignore dataset folder
datasets/

#ignore the direcotry or filder containing the pickle files
pklDir/

#ignoring the images folder as it will only store the demo images
images/

#ignore virtual environment folder
venv/

#ignore other common files and folders
*.pyc
__pycache__/
*.log
*.sqlite3
.DS_Store
.env
